services:
  mongodb:
    image: mongo:noble
    mem_limit: 512m
    restart: always
    ports:
      - "27017:27017"
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh --quiet
      interval: 5s
      timeout: 2s
      retries: 2
    volumes:
      - mongo_data:/data/db
      - ./data-init/mongodb:/docker-entrypoint-initdb.d

  postgresql:
    image: postgres
    mem_limit: 512m
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
    volumes:
      - postgres_data:/var/lib/postgresql
      - ./data-init/postgresql:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      interval: 5s
      timeout: 2s
      retries: 2

volumes:
  mongo_data:
  postgres_data:
