server.port: 7002
spring:
  application:
    name: course-service
  data:
    mongodb:
      host: "127.0.0.1"
      port: 27017
logging:
  level:
    root: DEBUG
---
spring.config.activate.on-profile: docker
server.port: 8080